bug/
debug/
interp/slasm.dSYM/Contents/Info.plist

*.o
*.sl
*.slb

out

copy2disk
makedisk
slasm
stackl
stackl_norl
stacklc

compiler/parser.c
compiler/parser.h
compiler/scanner.c
library/disk.h
library/gen_io.h
library/machine_def.h
library/pio_term.h
library/syscodes.h
library/timer.h
version.h
